/*scaffold*/

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*default styles */

#wrapper {
	margin: 0 auto;
}

#content {
	width: 850px;
	margin: 0 auto;
	
}

#header {
	height: 159px;
}

#header h1 {
	font-size: 159px;
	
	margin-bottom: 10px;
	
}

/* polls */

#poll_content {
	background: #ccc;
}

#poll_images {
	padding: 12px 0;
	
	width: 850px;
	height: 312px;
}

#poll_images img {
	border: 2px solid #fff;
		
	float: left;
	margin: 0 10px;
	
	width: 400px;
}

#poll_description {
	float: left;
	margin: 25px 12px;
}

.vote {
	text-align: center;
	
	float:left;
	margin: 15px 0;
	
	width: 100%;	
}

.vote_buttons {
	text-align: left;
	
	margin: 0 auto;
	
	width: 100%;
}

#poll_vote_buttons {
	margin: 25px 0 0 100px;

}

#poll_vote_buttons input {
	margin-right: 25px;
}

.button {
	background:#ccc;
	border: 1px solid #333;
	
	font-size: 25px;
	font-weight: bold;
	color: #333;
	
	float: left;
	
	padding: 20px;
	margin: 0 25px;
	
	cursor: pointer;
}

.button:hover {
	background: #eee;
	border: 1px solid #999;
	
	color: #999;
}

.poll_vs {
	font-size: 40px;
	font-weight: bold;
	float: left;
	
	padding: 25px; 
	margin: 0 25px 0 10px;
}

.vote_count {
	float:left;
	width: 100%;
}

/* last poll (most recent) */

#last_after_image {
	float: left;
	
	width: 50%;
}

#last_before_image {
	float: left;
	
	width: 50%;
}

#last_description {
	float:left;
	
	margin: 15px 0;
	
	width: 100%;
}

#last_poll {
	background: #eee;
	
	text-align: center;
	
	float: left;
	
	width: 650px;
	min-height: 450px;
}

#last_poll h3 {
	float:left;
	
	width: 50%;
}

#last_poll img {
	margin-left: 15px;
}

#last_votes {	
	float:left;
	
	text-align: center;
	margin: 10px auto;
	
	width: 100%;
}

/* stats bar */

#stats {
	border: 1px solid #ccc;
	
	float:left;
	
	text-align: left;
	
	width: 650px;
}

#stats_title {
	float: left;
	
	width: 640px;
	height: 25px;
}

.bar {
	
	padding: 0 0 0 10px;
}

#stats_stats {
	padding: 0 0 0 10px;

}

/* poll listing */

.listing {
	background: ;
	border: 1px solid #000;
	
	padding: 10px;
	margin: 0 0 15px 0;
	
	height: 150px;
	width: 150px;
}

.listing h2 {
	font-size: 12px;
	
	margin: 0;
}

.listing_images {
	float: left;
	
	width: 100%
}

.listing_votes {
	float: left;
}

#recent_polls {
	
	float: left;
	
	margin: 0 25px 0 0;
	
	width: 175px;
}

#recent_polls img {
	float: left;
	
	margin: 5px;
	
	width: 60px;
}

/* vote */

#no_vote_submit {
	position: relative;
	
	margin: 0 auto;
}

#yes_vote_submit {
	position: relative;
	
	margin: 0 auto;
}

#last_vote_count {
	float: left;
	
	margin: 0 10px;
}


.vote_count {
	float: left;
	margin-right: 0px;
}