/*scaffold*/

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*default styles */

#wrapper {
	margin: 0 auto;
}

#content {
	width: 850px;
	margin: 0 auto;
	
}

#header {
	height: 100px;
}

#header h2 {
	
}

/* last poll (most recent) */

#last_description {
	float:left;
	
	margin: 15px 0;
	
	width: 100%;
}

#last_poll {
	background: #eee;
	
	text-align: center;
	
	float: left;
	
	width: 650px;
	min-height: 450px;
}

#last_poll img {
	margin-left: 15px;
}

#last_vote {
	float:left;
	
	text-align: center;
	
	margin: 25px 0 0 0;
	
	width: 100%;
	
}

#last_vote_buttons {
	margin: 0 auto;
	width: 196px;
}

#last_yes_button {
	float: left;
	margin-right: 60px;
}

#last_no_button {
	float: left;
}

#last_votes {	
	float:left;
	
	text-align: center;
	margin: 10px auto;
	
	width: 100%;
}

/* poll listing */

.listing {
	background: ;
	border: 1px solid #000;
	
	padding: 10px;
	margin: 0 0 15px 0;
	
	height: 150px;
	width: 150px;
}

.listing h2 {
	font-size: 12px;
	
	margin: 0;
}

#recent_polls {
	
	float: left;
	
	margin: 0 25px 0 0;
	
	width: 175px;
}

#recent_polls img {
	float: left;
	
	margin: 5px;
	
	width: 60px;
}

/* vote */

#no_vote_submit {
	position: relative;
	
	margin: 0 auto;
}

#yes_vote_submit {
	position: relative;
	
	margin: 0 auto;
}

#yes_votes {
	margin: 0 auto;
	width: 50%;
}

#no_votes {
	margin: 0 auto;
	width: 50%;
}


.vote_count {
	float: left;
	margin-right: 25px;
}